<mat-card class="form-shah">
    <h1>Payment Form</h1>
    <div class="reciever">
        <div class="recieverInput">
            <label for="">Reciever Name</label>
            <input
                type="string"
                placeholder="Enter your name"
                (input)="recieverInput($event)"
            />
        </div>
        <div class="recieverInput">
            <label class="boldLabel"> Reciever Name</label>
            <input
                class="textContent"
                type="text"
                placeholder="Text will be displayed here"
                [value]="RecieverName | uppercase"
            />
        </div>
    </div>
    <div class="reciever">
        <div class="recieverInput">
            <label for="">Payment Date</label>
            <input
                type="date"
                placeholder="Enter payment date"
                (input)="paymentInput($event)"
            />
        </div>
        <div class="recieverInput">
            <label class="boldLabel">Payment Date</label>
            <div>
                {{ paymentDate | date: 'fullDate' }}
            </div>
        </div>
    </div>
    <div class="reciever">
        <div class="recieverInput">
            <label for="">Payment Date</label>
            <input
                type="date"
                placeholder="Enter payment date"
                (input)="paymentInput($event)"
            />
        </div>
        <div class="recieverInput">
            <label class="boldLabel">Payment Date</label>
            <div>
                {{ paymentDate | date: 'd, MMM' }}
            </div>
        </div>
    </div>
    <div class="reciever">
        <div class="recieverInput">
            <label for="">Amount</label>
            <input
                type="number"
                placeholder="Enter amount"
                (input)="amountInput($event)"
            />
        </div>
        <div class="recieverInput">
            <label class="boldLabel">Amount</label>
            <div>
                {{ amount | currency: 'KRW' }}
            </div>
        </div>
    </div>
    <div class="reciever">
        <div class="recieverInput">
            <label for="">Miles</label>
            <input placeholder="Enter amount" (input)="onMileChange($event)" />
        </div>
        <div class="recieverInput">
            <label class="boldLabel">Kilo</label>
            <div>
                {{ miles | convert: 'km' }}
            </div>
        </div>
    </div>
</mat-card>
